
td {
    border: 3px solid #919191;
    height: 65px;
    width: 100px;
    padding-left: 0;
    background: black;
}

#tabl{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 200px;
    height: 200px;
    margin: auto;
}

#position{
    margin-top: 10%;
    text-align: center;
}

.btn{
    font-size: 20px;
    color: white;
    background: #000000;
    border: 3px solid #7f7f7f;
}

.btn:hover{
    background: #ffffff;
    color: #000000;
}

.player{
    font-size: 20px;
    font-family: cursive;
    color: white;
}
