body {
    background: linear-gradient(palegreen ,greenyellow, lawngreen, #39fd39, #27c2ba, green) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 0;
}

td {
    border: 3px solid #919191;
    height: 65px;
    width: 100px;
    padding-left: 0;
    background: black;
}

#tabl{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 200px;
    height: 200px;
    margin: auto;
}

#position{
    margin-top: 10%;
    text-align: center;
    z-index: 1;
}

.btn{
    font-size: 20px;
    color: white;
    background: palegreen;
    border: 3px solid #7f7f7f;
}

#X{
    background: black;
    color: palegreen;
}

#reset{
    margin-top: 1%;
    visibility: hidden;
}

.player{
    font-size: 20px;
    font-family: cursive;
    color: palegreen;
}
